<!DOCTYPE html>
<html xmlns="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<body>

   <nav th:fragment="navbar" class="navbar">
        <ul>
            <li><a th:href="@{/}">Homepage</a></li>
            <div sec:authorize="isAuthenticated()">
                <li><a th:href="@{/orders}">My orders</a></li>
            </div>
            <li><a th:href="@{registration}">Registration</a></li>
            <div sec:authorize="isAnonymous()">
                <li><a th:href="@{/login}">Login</a></li>
            </div>
            <div sec:authorize="isAuthenticated()">
                <li><a th:href="@{/logout}">Logout</a></li>
            </div>
        </ul>
    </nav>
    
</body>
</html>