<!DOCTYPE html>
<html lang="en" xmlns="https://www.thymeleaf.org/" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Description</title>
    <link rel="stylesheet" th:href="@{/style.css}">
</head>

<body>
    <div th:replace="~{fragments/navbar :: navbar}"></div>


        <div th:object="${item}" class="product-card">
            <h2 th:text="*{name}">product name</h2>
            <img th:src="@{'/images/' + *{image}}" alt="Product image" style="width: 200px;">
            <p th:text="*{description}">description</p>
            <p th:text="*{price} + Kr">price</p>
            <button sec:authorize="isAuthenticated()">Add to cart</button>

        </div>

</body>

</html>