<!DOCTYPE html>
<html lang="en" xmlns="https://www.thymeleaf.org/" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Elysian</title>
    <link rel="stylesheet" th:href="@{/style.css}">
</head>

<body>
    <nav class="navbar">
        <ul>
            <div sec:authorize="isAuthenticated()">
                <li><a th:href="@{orders}">My orders</a></li>
            </div>
            <li><a th:href="@{registration}">Registration</a></li>
            <div sec:authorize="isAnonymous()">
                <li><a th:href="@{login}">Login</a></li>
            </div>
            <div sec:authorize="isAuthenticated()">
                <li><a th:href="@{logout}">Logout</a></li>
            </div>
        </ul>
    </nav>
    <h1 style="text-align: center;">Our products</h1>
    <div th:each="p : ${products}" class="products">
        <h2 th:text="${p.name}">Product name</h2>
        <a th:href="@{/itemdescription/{id}(id=${p.id})}">
            <img th:src="@{'/images/' + ${p.image}}" alt="Product image" style="width: 200px;">
        </a>
        <p th:text="${p.price} + Kr"></p>
    </div>
</body>

</html>