<!DOCTYPE html>
<html lang="en" xmlns="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Elysian</title>
</head>
<body>
     <nav class="navbar">
        <ul>
            <li><a th:href="@{registration}">Registration</a></li>
        </ul>
    </nav>
    <h1 style="text-align: center;">Our products</h1>
    <div th:each="p : ${products}" class="products">
    <h2 th:text="${p.name}">Product name</h2>
    <img th:src="@{'/images/' + ${p.image}}" alt="Product image" style="width: 200px;">
    <p th:text="${p.price} + Kr"></p>
    </div>
</body>
</html>