<!DOCTYPE html>
<html lang="en" xmlns="https://www.thymeleaf.org/" 
xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My orders</title>
    <link rel="stylesheet" th:href="@{/style.css}">
</head>
<body>
    <nav class="navbar">
        <ul>
            <li><a th:href="@{/}">Homepage</a></li>
            <li><a th:href="@{registration}">Registration</a></li>
            <li><a th:href="@{logout}">Logout</a></li>
        </ul>
    </nav>
    <H1>My orders</H1>

</body>
</html>