<!DOCTYPE html>
<html lang="en" xmlns="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>
</head>
<body>
    <h2>Create new user</h2>
    <form th:action="@{/registration}" th:object="${user}" method="post">
    <label>Email:</label>
    <input type="text" th:field="*{email}">
    <br>
    <br>
    <label>First name:</label>
    <input type="text" th:field="*{firstname}">
    <br>
    <br>
    <label>Last name:</label>
    <input type="text" th:field="*{lastname}">
    <br>
    <br>
    <label>Username:</label>
    <input type="text" th:field="*{username}">
    <br>
    <br>
    <label>Password:</label>
    <input type="text" th:field="*{password}">
    <br>
    <br>
    <button type="submit">Register</button>
    </form>
</body>
</html>